html,
body {
  margin: 0;
  height: 100%;
}
/* fleche retour haut */
.retour_haut {
  position: sticky;
  bottom: 30px;
  left: 80%;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.home {
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
  background-image: url("/public/img/desktop.jpg");
  background-position: center;
  height: 600px;
}

.home h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}
/* ********* header ********************************/
/* *********************************************** */
#header {
  margin-bottom: 10px;
  position: sticky !important;
  top: 0px;
  z-index: 50;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #fff;
  height: 60px;
  padding: 1em;
}
#header h1 {
  font-size: 15px;
  margin: 0;
  margin-left: 50px;
}

#linkAdmin {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
.img_cart {
  width: 20px;
  margin-right: 10px;
}
.img_avatar {
  width: 20px;
}

.Caddy {
  position: absolute;
  display: flex;
  right: 5px;
  justify-content: center;
}

#qty-cart {
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

/*  header menu ****************** */

.menu {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 5px;
  margin-top: 50px;
  left: 10px;
}

.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
}
.menu > li {
  cursor: pointer;
  background-color: chocolate;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.menu > li:hover {
  background-color: #dcff50;
}
.menu > li > a {
  color: black;
  text-decoration: none;
  vertical-align: middle;
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  margin: 5px;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* *******************  trainings ************ */
.listTraining {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.x-del {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 5px;
}

.x-edit {
  border: 5px solid yellow;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 0px;
}
.delete i {
  color: red;
  cursor: pointer;
}

.sold_stars {
  margin-bottom: 10px;
}

.sold_stars i {
  color: orange;
  width: 15px;
}
.img-responsive {
  height: 70px;
}
.product-content {
  position: relative;
  border: 1px solid #fcd6a1;
  margin-bottom: 20px;
  margin-top: 12px;
  padding: 4px;
  width: 150px;
  height: 300px;
  text-align: center;
}

.product-image {
  background-color: #fff;
  display: block;
  overflow: hidden;
}

.product-content .product-price {
  border-bottom: 1px solid #dfe5e9;
  padding-left: 16px;
  padding-top: 16px;
}

.description {
  font-size: 12.5px;
  padding: 5px;
  background: #fff;
}

.product-info {
  position: absolute;
  bottom: 30px;
  left: 5px;
}

.product-price p {
  color: purple;
  font-family: Lato, sans-serif;
  font-size: 20px;
  background-color: #ff0;
  border-radius: 5px;
}

.product-price {
  padding-right: 20px;
}

.price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}

/* ********  card categories ****************/
.catSelect {
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.catCard {
  cursor: pointer;
  width: 90px;
  background-color: #fcd6a1;
  border-right: 1px solid chartreuse;
}
.catCard:hover {
  background-color: #dcff50;
}
.catCard p {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
}

.refresh_img {
  height: 32px;
  width: 32px;
  background-color: palevioletred;
  cursor: pointer;
}

/* bouton ajout panier ****************************/
.cart-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: #fcd6a1;
  color: white;
  border-radius: 5px;
  height: 30px;
  padding: 10px;
  overflow: hidden;
  border: none;
  width: 140px !important;
  margin: auto;
}

.cart-button:hover {
  background-color: pink;
}

.cart-button:focus {
  outline: none !important;
}

.cart-button .fa-plus {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 20%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}

.cart-button .fa-cart-shopping {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -20%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}

.cart-button .fa-check {
  position: absolute;
  z-index: 1;
  top: -52%;
  left: 20%;
  font-size: 0.7em;
  transform: translate(-50%, -50%);
  color: purple;
}

.cart-button span {
  position: absolute;
  left: 65px;
  top: 50%;
  color: purple;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.cart-button span.added {
  opacity: 0;
}

.cart-button.clicked .fa-plus {
  animation: addicon 2s ease-in forwards;
}

.cart-button.clicked {
  animation: color 2s ease-in forwards;
}

.cart-button.clicked .fa-cart-shopping {
  animation: circle 1s ease-in forwards;
}

.cart-button.clicked .fa-check {
  animation: check 2s ease-in forwards;
}

.cart-button.clicked span.add-to-cart {
  animation: addcart 2s ease-in forwards;
}

.cart-button.clicked span.added {
  animation: added 2s ease-in forwards;
}

@keyframes addicon {
  0% {
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    left: -10%;
  }

  100% {
    left: 20%;
  }
}

@keyframes check {
  0%,
  40% {
    top: -20%;
  }

  60% {
    top: 48%;
  }

  100% {
    top: 48%;
  }
}

@keyframes addcart {
  0%,
  30% {
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes added {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes color {
  0% {
    background-color: pink;
  }

  80%,
  100% {
    background-color: #fcd6a1;
  }
}

/*  caddy **************************************** */

#emptyCard {
  border: 2px solid coral;
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
}

.shopping-cart {
  margin-bottom: 20px;
}

.shopping-cart.table {
  margin-bottom: 0;
}

.shopping-cart.btn {
  margin: 0;
}

.shopping-cart > table > thead,
.shopping-cart > table > tbody {
  border-bottom: coral;
}

.shopping-cart > table > thead > tr > th,
.shopping-cart > table > thead > tr > td,
.shopping-cart > table > tbody > tr > th,
.shopping-cart > table > tbody > tr > td {
  vertical-align: middle !important;
}

.shopping-cart > table thead th {
  padding-top: 17px;
  padding-bottom: 17px;
}

.caddy-item {
  display: table;
  width: 100%;
  min-width: 150px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.caddy-thumb,
.caddy-info {
  display: table-cell;
  vertical-align: top;
}

.caddy-thumb {
  padding-right: 20px;
  width: 70px;
}

.caddy-item .caddy-thumb > img {
  display: block;
  width: 100%;
}
.shopping-cart-footer {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid coral
}
.shopping-cart-footer span{
  position: relative;
  left: 75%;
}
.caddy-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
/* responsive ************ */
/* A partir de 768px de largeur (point de rupture) TABLETTE */
@media screen and (min-width: 768px) {
  #header h1 {
    display: block;
  }
  .retour_haut {
    left: 90%;
  }
  .img_avatar {
    display: block;
  }
  .product-content {
    margin-bottom: 20px;
    margin-top: 12px;
    padding: 4px;
    width: 220px;
    height: 300px;
  }
  .cart-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    overflow: hidden;
    border: none;
    width: 210px !important;
    margin: auto;
  }
  .cart-button span {
    left: 100px;
  }

  /* caddy*** */
  .shopping-cart-footer {
    width: 100%;
    padding: 10px 0;
  }
  .caddy-thumb{
   width: 130px;
  }
}

/* ************************* */
/* A partir de 1280px de largeur (point de rupture) ORDINATEUR */
@media screen and (min-width: 1280px) {
  button-container {
    display: none;
  }
  .menu {
    display: block;
    position: relative;
    margin-top: 0;
    margin-left: 20px;
  }
  .menu > li {
    cursor: pointer;
    background-color: #fcd6a1;
    border-color: #fcd6a1;
    width: 80px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin: 0;
    /* overflow: hidden; */
  }
  .menu > li:hover {
    background-color: #dcff50;
  }
  .menu > li > a {
    color: purple;
    text-decoration: none;
    vertical-align: middle;
  }
  #menu-toggle:checked ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle ~ .menu li {
    margin: 5px;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .retour_haut {
    left: 95%;
  }
}
